<!DOCTYPE html>
<html>
<head>
  <title>Kết quả từ CSDL</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    table, th, td {
      border: 1px solid black;
    }
    th, td {
      padding: 8px;
      text-align: left;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Thành viên lab 2S</h1>
  <table>
    <thead>
      <tr>
        <th>Tên</th>
        <th>Địa chỉ MAC</th>
      </tr>
    </thead>
    <tbody>
      <% data.forEach(item => { %>
        <tr>
          <td><%= item.Ten %></td>
          <td><%= item.Mac %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>
